<%= form_with model: post do |form| %>
  <% if post.errors.present? %>
    <div id="error_explanation" class="card border-danger mb-3">
<!--      <div class="card-header">Header</div>-->
      <div class="card-body text-danger">
        <h5 class="card-title"><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h5>
        <ul>
          <% post.errors.full_messages.each do |msg| %>
            <li class="card-text"><%= msg %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :title, class: 'form-label' %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :body, class: 'form-label' %>
    <%= form.text_area :body, class: 'form-control', rows: 3 %>
  </div>

  <div>
    <%= form.submit 'Save', class: 'btn btn-outline-primary' %>
  </div>
<% end %>
